;; figwheel options
^{:watch-dirs       ["src/main/cljs" "src/test/cljs"]
  :css-dirs         ["resources/public/assets"]
  :auto-testing     true
  :extra-main-files {:tests {:main app.ui.test-runner}}
  :npm              {:bundles {"resources/public/assets/index.min.js" "src/main/js/index.js"}}
  :open-url         "http://localhost:8080"}

;; compiler options
{:main            app.ui.core
 :output-to       "resources/public/assets/app.min.js"
 :optimizations   :none
 :source-map      true
 :pretty-print    true
 :parallel-build  true
 :npm-deps        false
 :infer-externs   true
 :preloads        [day8.re-frame-10x.preload]
 :closure-defines {re_frame.trace.trace_enabled_QMARK_ true}}
