;; figwheel options
^{:npm {:bundles {"resources/public/assets/index.min.js" "src/main/js/index.js"}}}

;; compiler options
{:main           app.ui.core
 :output-to      "resources/public/assets/app.min.js"
 :optimizations  :advanced
 :source-map     false
 :pretty-print   false
 :parallel-build true
 :npm-deps       false
 :infer-externs  true}
