{:paths   ["src"]

 :deps    {cljsjs/antd {:mvn/version "3.20.6-0"}}

 :aliases {:dev   {:extra-deps {org.clojure/clojure       {:mvn/version "1.10.1"}
                                org.clojure/clojurescript {:mvn/version "1.10.520"}
                                reagent                   {:mvn/version "0.8.1"}}}

           :build {:extra-deps {cambada {:mvn/version "1.0.4"}}
                   :main-opts  ["--main" "cambada.uberjar"
                                "--app-artifact-id" "ant.design"
                                "--app-version" "3.20.6-0"]}}}
