{:paths   ["src"]

 :deps    {org.clojure/clojure       {:mvn/version "1.10.1"}
           org.clojure/clojurescript {:mvn/version "1.10.520"}
           reagent                   {:mvn/version "0.9.0-rc2"}
           cljsjs/antd               {:mvn/version "3.24.3-0"}}

 :aliases {:repl    {:extra-deps {nrepl            {:mvn/version "0.6.0"}
                                  cider/piggieback {:mvn/version "0.4.2"}}
                     :main-opts  ["--main" "nrepl.cmdline"
                                  "--port" "7888"
                                  "--middleware" "[cider.piggieback/wrap-cljs-repl]"]}

           :build   {:extra-deps {seancorfield/depstar {:mvn/version "0.3.4"}}
                     :main-opts  ["--main" "hf.depstar.jar" "target/ant.design.jar"]}

           :version {:extra-deps {com.workframe/garamond {:mvn/version "0.4.0"}}
                     :main-opts  ["-m" "garamond.main"]}

           :deploy  {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
                     :main-opts  ["--main" "deps-deploy.deps-deploy"
                                  "deploy" "target/ant.design.jar"]}}}
